.foodListContainer{
    width: 100%;
    background-image: linear-gradient(to right, var(--lightColor), var(--primaryBg) );
    box-shadow: -2px 2px 0px 1px var(--darkColor);
    border-radius: 3em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}